* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #d9f4ff;
}

body {
    width: 100%;
    height: 100vh;
    background: url('new pic.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

h1 {
    text-align: center;
    color: #42474b;
    font-size: 40px;
    margin-bottom: 10px;
}

hr {
    width: 80%;
    height: 2px;
    background-color: aqua;
    border: none;
    margin-bottom: 20px;
}

.container {
    width: 425px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #000000;
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.wrapper {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-gap: 10px;
}

.inputArea {
    background-color: #5b6d7c;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

input[type="text"] {
    width: 100%;
    height: 50px;
    font-size: 30px;
    background-color: rgb(218, 216, 216);
    text-align: right;
    border: 2px solid rgb(37, 37, 37);
    border-radius: 8px;
    padding: 0 10px;
    color: #000;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

.btnr1 { background: #25292c; border-radius: 5px; }
.btnr2 { background: #13171d; border-radius: 5px; }

.btnr1, .btnr2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnr1 input, .btnr2 input {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.8em;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.btnC input {
    color: #ff7a00 !important;
}

.btnr1 input:hover, .btnr2 input:hover {
    background-color: rgba(255, 255, 255, 0.1);
}